header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 60px;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* padding-left: var(--sidebar-margin);
    padding-right: var(--sidebar-margin); */
    margin: auto;
    height: var(--navbar-height);
    font-size: var(--navbar-font-size);
    width: var(--content-width);
    padding-left: 10px;
}

.navbar .nav-item:not(:first-child)::before {
    content: "/";
    padding-right: var(--navbar-seperator-spacing);
    padding-left: var(--navbar-seperator-spacing);
}
